<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterDeveloper</servlet-name>
        <servlet-class>servlet.RegisterDeveloper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCompany</servlet-name>
        <servlet-class>servlet.RegisterCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaDeveloper</servlet-name>
        <servlet-class>servlet.IdeaDev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaCompany</servlet-name>
        <servlet-class>servlet.IdeaComp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCompany</servlet-name>
        <servlet-class>servlet.LoginCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDeveloper</servlet-name>
        <servlet-class>servlet.LoginDeveloper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaCompCreate</servlet-name>
        <servlet-class>servlet.IdeaCompCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaDevCreate</servlet-name>
        <servlet-class>servlet.IdeaDevCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaCompDelete</servlet-name>
        <servlet-class>servlet.IdeaCompDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaCompChange</servlet-name>
        <servlet-class>servlet.IdeaCompChanges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaDevChange</servlet-name>
        <servlet-class>servlet.IdeaDevChanges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaDevDelete</servlet-name>
        <servlet-class>servlet.IdeaDevDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCompany</servlet-name>
        <servlet-class>servlet.DeleteCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDeveloper</servlet-name>
        <servlet-class>servlet.DeleteDeveloper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCompany</servlet-name>
        <servlet-class>servlet.ChangeCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDeveloper</servlet-name>
        <servlet-class>servlet.ChangeDeveloper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountCompany</servlet-name>
        <servlet-class>servlet.AccountCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDeveloper</servlet-name>
        <servlet-class>servlet.AccountDeveloper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterDeveloper</servlet-name>
        <url-pattern>/RegisterDeveloper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCompany</servlet-name>
        <url-pattern>/RegisterCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaDeveloper</servlet-name>
        <url-pattern>/IdeaDeveloper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaCompany</servlet-name>
        <url-pattern>/IdeaCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCompany</servlet-name>
        <url-pattern>/LoginCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDeveloper</servlet-name>
        <url-pattern>/LoginDeveloper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaCompCreate</servlet-name>
        <url-pattern>/IdeaCompCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaDevCreate</servlet-name>
        <url-pattern>/IdeaDevCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaCompDelete</servlet-name>
        <url-pattern>/IdeaCompDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaCompChange</servlet-name>
        <url-pattern>/IdeaCompChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaDevChange</servlet-name>
        <url-pattern>/IdeaDevChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaDevDelete</servlet-name>
        <url-pattern>/IdeaDevDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCompany</servlet-name>
        <url-pattern>/DeleteCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDeveloper</servlet-name>
        <url-pattern>/DeleteDeveloper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCompany</servlet-name>
        <url-pattern>/ChangeCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDeveloper</servlet-name>
        <url-pattern>/ChangeDeveloper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountCompany</servlet-name>
        <url-pattern>/AccountCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDeveloper</servlet-name>
        <url-pattern>/AccountDeveloper</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
