<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/tcc</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">erro</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.pool_size">20</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.min_size">0</property>
    <property name="hibernate.c3p0.timeout">5000</property>
    <property name="hibernate.c3p0.max_statements">100</property>
    <property name="hibernate.c3p0.idle_test_period">300</property>
    <property name="hibernate.c3p0.acquire_increment">2</property>
    <mapping class="Model.LegalPerson"/>
    <mapping class="Model.Company"/>
    <mapping class="Model.Phone"/>
    <mapping class="Model.Photo"/>
    <mapping class="Model.State"/>
    <mapping class="Model.Person"/>
    <mapping class="Model.City"/>
    <mapping class="Model.Developer"/>
    <mapping class="Model.PhysicalPerson"/>
  </session-factory>
</hibernate-configuration>
